
{% extends 'layout.html'%}
{% block body%}

    <div class="container">
      <h1>Add to-do's</h1>
      <form action="/" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">To-Do title</label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">To-Do Description</label>
          <input type="text" class="form-control" name="desc" id="desc">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="container my-3">

        {% if allTodo|length==0 %}
          <div class="alert alert-dark" role="alert">
            There is no To-Do as of now! Have fun
          </div>
        {% else %}
      <h1>Your to-dos</h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Time</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in allTodo %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{todo.title}}</td>
          <td>{{todo.desc}}</td>
          <td>{{todo.date}}</td>
          <td>
            <a href="/edit/{{todo.sno}}" type="button" class="btn btn-info">Edit </a>
            <a href="/delete/{{todo.sno}}" type="button" class="btn btn-info">Delete </a>
          </td>


        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
      </table>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  {% endblock body%}


